00 02 * * * /home/psilocaluser/gits/psi4meta/psinet-nightly/kitandkapoodle.py > /home/psilocaluser/gits/psi4meta/psinet-nightly/kpd-norm.log 2>&1
#15 20 * * * /home/psilocaluser/gits/psi4meta/psinet-nightly/kitandkapoodle.py > /home/psilocaluser/gits/psi4meta/psinet-nightly/kpd-anom.log 2>&1
11,26,41,56 * * * * bash /home/psilocaluser/gits/psi4meta/psinet-nightly/handle_sphinxman.sh >>/home/psilocaluser/gits/psi4meta/psinet-nightly/psicode-dropbox.log 2>&1
45 14 * * 3 /home/psilocaluser/gits/psi4meta/recent-citing-articles/parse_gs_psi4_refs.py > /home/psilocaluser/gits/psi4meta/recent-citing-articles/error.log 2>&1
05 * * * * /home/psilocaluser/gits/psi4meta/github-feed/parse_gh_commits.py > /home/psilocaluser/gits/psi4meta/github-feed/error.log 2>&1
55 * * * * bash /home/psilocaluser/gits/psi4meta/psinet-nightly/push_feed.sh >>/home/psilocaluser/gits/psi4meta/psinet-nightly/push_feed.log 2>&1
